@import (inline) "../../../node_modules/normalize.css/normalize.css";

body {
    color:#333;
    font:normal 80% Arial,sans-serif;
    margin:0 auto;
    max-width:200px;
    position:relative;
}

.pers {
    &-list {
        list-style:none;
        margin:0;
        padding:0;
        position:relative;

        > li {
            left:0;
            opacity:0;
            position:absolute;
            top:0;
            transition:opacity 0.5s;
            width:100%;

            &.active {
                opacity:1;
                z-index:1;
            }
        }
    }

    &-photo {
        margin:0;
        max-height:230px;
        overflow:hidden;
        text-align:center;

        img {
            max-width:100%;
            vertical-align:top;
        }
    }

    &-about {
        padding:10px;
        h2 {
            text-align:center;
            margin:0 0 0.5em;
        }
    }
}

.toc {
    background:fade(#333, 95%);
    height:100%;
    left:0;
    margin:0;
    overflow:auto;
    padding:0;
    position:fixed;
    top:0;
    transform:translateY(-100%);
    transition:transform 0.4s ease 0s;
    width:100%;
    z-index:2;

    &-show {
        transform:translateY(0);
    }

    &-btn {
        border:5px solid;
        border-color:#c55 #c55 transparent transparent;
        content:"";
        cursor:pointer;
        height:0;
        position:absolute;
        right:0;
        top:0;
        width:0;
        z-index:2;
    }

    > li {
        color:#ddd;
        cursor:pointer;
        margin:0;
        padding:5px 10px;

        &:hover {
            background:fade(#000, 90%);
        }
    }
}